@{
	Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeaderPartialComponent")
<body>
	<div class="dashboard-main-wrapper">
		@await Component.InvokeAsync("_LayoutNavbarComponentPartial")
		@await Component.InvokeAsync("_LayoutSidebarComponentPartial")
		<div class="dashboard-wrapper">
			<div class="dashboard-ecommerce">
				<br />
				<br />
				@RenderBody()
				@await Component.InvokeAsync("_LayoutFooterComponentPartial")
			</div>
		</div>
	</div>
	@await Component.InvokeAsync("_LayoutScriptComponentPartial")
</body>
</html>

