@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Excel Yükleme Sayfası</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						@if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "Başarılı")
						{
							<div class="alert alert-success" role="alert">
								Excel Başarılı Bir Şekilde Yüklendi
							</div>
						}
						else if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "Başarısız")
						{
							<div class="alert alert-warning" role="alert">
								Excel Yüklenemedi
							</div>
						})
						<form method="post" enctype="multipart/form-data">
							<div class="row">
								<label>Excel Yükle</label>
								<br />
								<input type="file" name="file" />
							</div>
							<br />
							<div class="row">
								<div class="col-3">
									<input type="submit" asp-controller="Admin" asp-action="ExcelImport" class="btn btn-dark" value="Excel Yükle" />
								</div>
							</div>
						</form>
					</div>
				</div>



			</div>

		</div>
	</div>
</div>

