@model EntityLayer.Entities.AppUser
@{
	Layout = null;
}

@* <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Şifremi Unuttum</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-32/css/nunito-font.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/colorlib-regform-32/css/style.css" />
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="~/colorlib-regform-32/images/form-v6.jpg" alt="form" style="width:484px; height:650px">
			</div>
			<form class="form-detail" method="post">
				<h2>Şifremi Unuttum Sayfası</h2>
				<div class="form-row">
					<input type="text" id="full-name" asp-for="UserName" class="input-text" placeholder="Kullanıcı Adınız" required>
				</div>
				<div class="form-row">
					<input type="password" id="password" asp-for="PasswordHash" class="input-text" placeholder=" Yeni Şifreniz" required>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Şifremi Değiştir">
				</div>
			</form>
		</div>
	</div>
</body>
</html>

 *@


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forgot Password</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/concept-template-master//assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/concept-template-master//assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/concept-template-master//assets/libs/css/style.css">
    <link rel="stylesheet" href="~/concept-template-master//assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href="../index.html"><img class="logo-img" src="~/concept-template-master//assets/images/logo.png" alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="full-name" type="text" placeholder="UserName" asp-for="UserName" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="password" type="password" asp-for="PasswordHash" placeholder="Password">
                    </div>
                    @* <div class="form-group">
                    <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Remember Me</span>
                    </label>
                    </div> *@
                    <button type="submit" class="btn btn-primary btn-lg btn-block" asp-controller="Login" asp-action="ForgotPassword">Sign in</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function forgotPassword() {
            var username = document.getElementById('full-name').value;
            window.location.href = '/Login/ForgotPassword?username=' + username;
        }
    </script>

    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="~/concept-template-master//assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/concept-template-master//assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>
